{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFOMAX.SPACE - Գլխավոր էջ</title>
    <!-- Open Graph meta tags for Facebook -->
    <meta property="og:title" content="INFOMAX.SPACE - Գլխավոր էջ">
    <meta property="og:description" content="ՀԵՏևԻՐ ԿԱՐևՈՐ ՆՈՐՈՒԹՅՈՒՆՆԵՐԻՆ">
    <meta property="og:image" content="{% static 'images/infomax-logo.png' %}">
    <meta property="og:url" content="https://infomax.space">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

    
    <header>
        <div class="logo">
            <img src="{% static 'images/infomax-logo.png' %}" alt="Logo">
        </div>
        
    </header>

    <!-- Main Content Section -->
    <main>
        <section class="hero">
                <div style="margin: 0 0 60px 0"><span style="font-size: 16px;">Ամենաընթերցված</span></div>
                
                <div class="container-top-post">
                    
                {% for post in popular_posts %}
                <div class="post-top">
                    <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
                    {% if post.image %}
                            <a href="{% url 'post_detail' post.id %}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
                    {% endif %}
                </div>
                {% endfor %}
                </div>
        </section>



        <!-- Categories Filter -->
        <section class="categories">
            <div class="container">
                <ul>
                    <li><a href="javascript:void(0);" onclick="filterPosts('')">Բոլոր լուրերը</a></li>
                    {% for category in categories %}
                        <li><a href="javascript:void(0);" onclick="filterPosts('{{ category.id }}')"
                            class="{% if category.id == category.id %}active{% endif %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <!-- Заголовок категории -->
        <div class="container">


            <!-- Сетка с постами -->
            <div class="post-grid">
                {% for post in post_list %}
                    <div class="post">
                        {% if post.image %}
                            <a href="{% url 'post_detail' post.id %}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
                        {% endif %}
                        <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
                        <span class="author">{{ post.date|date:"d m, Y, H:i"}} | {{ post.views_count }} Դիտում</span>
                        <p>{{ post.content|truncatewords:30 }}</p>
                        
                    </div>
                {% endfor %}
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; INFOMAX.SPACE </p>
    </footer>

    <script>
        // Функция для фильтрации постов по категориям
        function filterPosts(categoryId) {
            let url = window.location.href.split('?')[0]; // Получаем текущий URL без параметра category
            if (categoryId) {
                url += '?category=' + categoryId; // Добавляем параметр category
            }

            // Отправляем AJAX запрос
            fetch(url)
                .then(response => response.text())
                .then(html => {
                    // Обновляем только блок с постами
                    const newPosts = new DOMParser().parseFromString(html, 'text/html').querySelector('.post-grid').innerHTML;
                    document.querySelector('.post-grid').innerHTML = newPosts;

                    // Обновляем имя категории в заголовке
                    if (categoryId) {
                        const categoryName = document.querySelector(`a[href="?category=${categoryId}"]`).innerText;
                        document.querySelector('.category-name').innerText = `Категория: ${categoryName}`;
                    } else {
                        document.querySelector('.category-name').innerText = 'Все посты';
                    }

                    // Обновляем активную категорию в списке
                    const links = document.querySelectorAll('.categories a');
                    links.forEach(link => {
                        link.classList.remove('active');
                    });

                    if (categoryId) {
                        const activeLink = document.querySelector(`a[href="?category=${categoryId}"]`);
                        if (activeLink) {
                            activeLink.classList.add('active');
                        }
                    }
                });
        }
    </script>

</body>
</html>
