{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <!-- Open Graph meta tags for social media sharing -->
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.content|truncatewords:20 }}">
    {% if post.image %}
        <meta property="og:image" content="{{ post.image.url }}">
    {% else %}
        <meta property="og:image" content="{% static 'images/default_image.png' %}">
    {% endif %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="article">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>

    <!-- Header with logo and menu -->
    <header>
        <div class="logo">
            <a href="/"><img src="{% static 'images/infomax-logo.png' %}" alt="Logo"></a>
        </div>
        
    </header>

    <!-- Main Content Section -->

       <!-- <section class="hero">
            <div class="hero-content">
                <h1>Добро пожаловать на Mini Blog</h1>
                <p>Читайте свежие новости и интересные статьи</p>
            </div>
        </section>--!>
<!-- Main Content Section -->
    <main class="post-detail-details">
        <div class="container-details">
            <div class="post-header-details">
                <h1>{{ post.title }}</h1>
                <div class="date-details">{{ post.date_published|date:"d M, Y" }}</div>
            </div>
            {% if post.image %}
                <div class="post-image-details">
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
            {% endif %}
            <div class="post-content-details">
                <p>{{ post.content }}</p>
            </div>
            <div class="back-link-details">
                <a href="/">Գլխավոր էջ</a>
            </div>
        </div>
    </main>
    <section class="hero">
        <div style="margin: 0 0 60px 0"><span style="font-size: 16px;">Ամենաընթերցված</span></div>
        
        <div class="container-top-post">
            
        {% for post in popular_posts %}
        <div class="post-top">
            <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
            {% if post.image %}
                    <a href="{% url 'post_detail' post.id %}"><img src="{{ post.image.url }}" alt="{{ post.title }}"></a>
            {% endif %}
        </div>
        {% endfor %}
        </div>
</section>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 IMFOMAX.SPACE</p>
    </footer>

</body>
</html>
